on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Install dbdocs
        run: sudo npm install -g dbdocs
      
      - name: Check dbdocs
        run: dbdocs
      
      - name: Update dbdocs project
        env:
          DBDOCS_TOKEN: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MTE3Mzk4LCJ0b2tlbiI6ImU5MmZhOWFiZDdhYmZkMWNkOWZjNmViMDI0MWQ2ZmZmIiwiaWF0IjoxNzY2MTU2ODg2fQ.V2UlpR5V-qBOAp2Ky0SzoHpmi3XENh5ye9t43mnluUI
        run: dbdocs build ./snpc-enrollment-db.dbml --project Enrollment